h2 {
    text-align: center;
    font-size: 24pt;
}

#record {
    font-size: 128pt;
    font-weight: 700;
    text-align: center;
}

.small {
    font-size: 10pt;
    color: #AAA;
    font-weight: 400;
}

.huge {
    font-size: 128pt;
    font-weight: 700;
    line-height: 100pt;
    width: 100%;
    text-align: center;
}

.smaller {
    font-size: 14pt;
    font-weight: 400;
    display: block;
    line-height: 20pt;
}

.game_list {
    width: 100%;
    box-sizing: border-box;
    padding-top: 1em;
}

.game_list h3 {
    font-weight: normal;
    margin: 0;
}

.game_list ul {
    margin-top: 0;
    padding-top: 0;
}

.game_list li {
    font-size: 10pt;
}

.game_list a {
    color: #333;
}

.two_columns {
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
}

.two_columns .break {
    break-after: always;
    -webkit-column-break-after: always;
}

.two_columns .nobreak {
    break-inside: never;
}

section {
    margin-top: 24pt;
}
