<!DOCTYPE html>
<html>
<head>
    <title>Chess by TOKD</title>
    <link href='http://fonts.googleapis.com/css?family=Lato:400,900|Cousine:700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/static/style.css" />
    <link id="favicon" rel="icon" type="image/png" href="/static/favicon.png" />
    <meta name="viewport" content="width=device-width" />
    <script src="/static/lib/jquery-ui-1.11.1.custom/external/jquery/jquery.js"></script>
    <script src="/static/lib/jquery-ui-1.11.1.custom/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="/static/lib/jquery-ui-1.11.1.custom/jquery-ui.min.css" />
    <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/0.9.16/socket.io.min.js"></script>
    {% block head %}
    {% endblock %}
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-55723635-1', 'auto');
      ga('send', 'pageview');

    </script>
</head>
<body>
<header>
<h1>Chess <span class="dim">by TOKD</span></h1>
<a href="/">Start game</a>
<a href="/stats">Global stats</a>
<hr />
</header>
{% block body %}
{% endblock %}
<footer>
This site is brought to you by
<a href="http://teamokdynamite.com">Team OK Dynamite</a> and is
<a href="http://github.com/haldean/chess">open-source</a>.
</footer>
</body>
</html>
