<!DOCTYPE html>
<html>
<head>
    <title>Chess by TOKD</title>
    <link href='http://fonts.googleapis.com/css?family=Lato:400,900|Cousine:700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/themes/smoothness/jquery-ui.css" />
    <link rel="stylesheet" href="/static/style.css" />
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/jquery-ui.min.js"></script>
    {% block head %}
    {% endblock %}
</head>
<body>
<h1>Chess <span class="dim">by TOKD</span></h1>
<hr />
{% block body %}
{% endblock %}
</body>
</html>
