<!DOCTYPE html>
<html>
<head>
    <title>Chess by TOKD</title>
    <link href='http://fonts.googleapis.com/css?family=Lato:400,900|Cousine:700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/static/style.css" />
    <link rel="icon" type="image/png" href="/static/favicon.png" />
    <meta name="viewport" content="width=device-width" />
    <script src="/static/lib/jquery-ui-1.11.1.custom/external/jquery/jquery.js"></script>
    <script src="/static/lib/jquery-ui-1.11.1.custom/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="/static/lib/jquery-ui-1.11.1.custom/jquery-ui.min.css" />
    <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/0.9.16/socket.io.min.js"></script>
    {% block head %}
    {% endblock %}
</head>
<body>
<h1>Chess <span class="dim">by TOKD</span></h1>
<hr />
{% block body %}
{% endblock %}
</body>
</html>
