{% extends "base.html" %}
{% block head %}
    <script src="/static/chess.js"></script>
    <script>
    var game = {{ game|safe }};
    var player = "{{ player|safe }}";
    var termination = {{ termination|safe }};
    var accessibility = {{ accessibility|safe }};
    </script>
    <link rel="stylesheet" type="text/css" href="/static/game.css">
{% endblock %}
{% block body %}
{% if termination_msg %}
    <div id="termination">
        {{ termination_msg|safe }}
        {% if opponent %}
        <cite>Playing against {{ opponent }}</cite>
        {% endif %}
    </div>
{% else %}
    <div id="to_move">
        {% if not color_name %}
        {{ to_play|title }} to move.
        {% elif color_name == to_play %}
        You are {{ color_name }}, your move.
        {% else %}
        You are {{ color_name }}, {{ to_play }} to move.
        {% endif %}
        {% if opponent %}
        <cite>Playing against {{ opponent }}</cite>
        {% endif %}
    </div>
{% endif %}
<table id="board" cellspacing="0">
    <tr>
        <td id="a8" class="white"></td>
        <td id="b8" class="black"></td>
        <td id="c8" class="white"></td>
        <td id="d8" class="black"></td>
        <td id="e8" class="white"></td>
        <td id="f8" class="black"></td>
        <td id="g8" class="white"></td>
        <td id="h8" class="black"></td>
    </tr>
    <tr>
        <td id="a7" class="black"></td>
        <td id="b7" class="white"></td>
        <td id="c7" class="black"></td>
        <td id="d7" class="white"></td>
        <td id="e7" class="black"></td>
        <td id="f7" class="white"></td>
        <td id="g7" class="black"></td>
        <td id="h7" class="white"></td>
    </tr>
    <tr>
        <td id="a6" class="white"></td>
        <td id="b6" class="black"></td>
        <td id="c6" class="white"></td>
        <td id="d6" class="black"></td>
        <td id="e6" class="white"></td>
        <td id="f6" class="black"></td>
        <td id="g6" class="white"></td>
        <td id="h6" class="black"></td>
    </tr>
    <tr>
        <td id="a5" class="black"></td>
        <td id="b5" class="white"></td>
        <td id="c5" class="black"></td>
        <td id="d5" class="white"></td>
        <td id="e5" class="black"></td>
        <td id="f5" class="white"></td>
        <td id="g5" class="black"></td>
        <td id="h5" class="white"></td>
    </tr>
    <tr>
        <td id="a4" class="white"></td>
        <td id="b4" class="black"></td>
        <td id="c4" class="white"></td>
        <td id="d4" class="black"></td>
        <td id="e4" class="white"></td>
        <td id="f4" class="black"></td>
        <td id="g4" class="white"></td>
        <td id="h4" class="black"></td>
    </tr>
    <tr>
        <td id="a3" class="black"></td>
        <td id="b3" class="white"></td>
        <td id="c3" class="black"></td>
        <td id="d3" class="white"></td>
        <td id="e3" class="black"></td>
        <td id="f3" class="white"></td>
        <td id="g3" class="black"></td>
        <td id="h3" class="white"></td>
    </tr>
    <tr>
        <td id="a2" class="white"></td>
        <td id="b2" class="black"></td>
        <td id="c2" class="white"></td>
        <td id="d2" class="black"></td>
        <td id="e2" class="white"></td>
        <td id="f2" class="black"></td>
        <td id="g2" class="white"></td>
        <td id="h2" class="black"></td>
    </tr>
    <tr>
        <td id="a1" class="black"></td>
        <td id="b1" class="white"></td>
        <td id="c1" class="black"></td>
        <td id="d1" class="white"></td>
        <td id="e1" class="black"></td>
        <td id="f1" class="white"></td>
        <td id="g1" class="black"></td>
        <td id="h1" class="white"></td>
    </tr>
</table>
<div id="summary">
    <div class="monospace">{{ summary|safe }}</div>
    <a href="#" id="stats_toggle">Toggle stats</a>
</div>
<div id="history_warning">
    You're looking at game history.
    <a href="#" id="leave_history">Go back to game</a>
  </div>
<div id="stats">

Material advantage:
<div class="stat">
{% if stats.material_advantage %}
{{ stats.material_advantage|title }} has a material advantage of
{{ stats.material_difference }}p.
{% else %}
No material advantage.
{% endif %}
</div>

{% if stats.opening %}
You opened with:
<div class="stat">
    <b>{{ stats.opening.code }}</b> {{ stats.opening.name }}<br>
    <small>{{ stats.opening.summary }}</small>
</div>
{% else %}
No ECO opening has been played.
{% endif %}

{% if stats.possible_openings %}
Possible openings from here:
<ol>
{% for o in stats.possible_openings %}
<li><b>{{ o.code }}</b> {{ o.name }}: {{ o.next_move }}</li>
{% endfor %}
</ol>

{% endif %}
</div>
<div id="popup">
    <div id="alert">
        <div id="alert_text">
            Send <span id="alert_move"></span>?
        </div>
        <button class="confirm">Send</button>
        <button class="cancel">Cancel</button>
    </div>
</div>
{% endblock %}
