{% extends "base.html" %}
{% block head %}
    <script src="/static/chess.js"></script>
    <script>
    var game = {{ game|safe }};
    var player = "{{ player|safe }}";
    var termination = {{ termination|safe }};
    var accessibility = {{ accessibility|safe }};
    </script>
    <style>
    #board {
        width: 33em;
        height: 33em;
        border: 0.5em solid #000;
        padding: 0;
        float: left;
    }
    #board tr {
        height: 4em;
        padding: 0;
        margin: 0;
    }
    #board td {
        width: 4em;
        padding: 0;
        margin: 0;
        vertical-align: center;
        text-align: center;
    }

    .black {
        background-color: #CCC;
    }

    .white {
        background-color: #FFF;
    }

    img {
        width: 90%;
        height: 90%;
    }

    #popup {
        background: rgba(0, 0, 0, 0.4);
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        display: none;
    }

    #alert {
        width: 26em;
        height: 30pt;
        margin: 15% auto;
        background: #FFF;
        border-radius: 10pt;
        padding: 10pt 15pt;
        display: table;
        overflow: hidden;
    }

    #alert_text {
        display: table-cell;
        vertical-align: middle;
        font-weight: bold;
        font-size: 18pt;
    }

    #alert button {
        float: right;
    }

    #termination {
        width: 100%;
        text-align: center;
        margin-bottom: 1em;
        font-size: 20pt;
    }

    #to_move {
        width: 100%;
        text-align: center;
        margin-bottom: 2em;
        font-size: 14pt;
    }

    #summary {
        font-size: 12pt;
        float: left;
        padding: 1em 1em;
        color: #999;
        background: #EEE;
        width: 9em;
        height: 31em;
        margin-top: 0;
    }

    #stats {
        background: #F9F9F9;
        padding: 1em 8pt;
        margin-bottom: 2em;
        float: left;
        width: 100%;
        box-sizing: border-box;
        font-size: 10pt;
    }

    #stats ol {
        margin: 4pt;
    }

    .stat {
        font-size: 14pt;
        margin-bottom: .5em;
    }

    #stats_toggle {
        font-size: 9pt;
        color: #999;
        text-transform: lowercase;
    }
    </style>
{% endblock %}
{% block body %}
{% if termination_msg %}
    <div id="termination">{{ termination_msg|safe }}</div>
{% else %}
    <div id="to_move">
    {% if color_name == to_play %}
    You are {{ color_name }}, your move.
    {% else %}
    You are {{ color_name }}, {{ to_play }} to move.
    {% endif %}
{% endif %}
</div>
<table id="board" cellspacing="0">
    <tr>
        <td id="a8" class="white"></td>
        <td id="b8" class="black"></td>
        <td id="c8" class="white"></td>
        <td id="d8" class="black"></td>
        <td id="e8" class="white"></td>
        <td id="f8" class="black"></td>
        <td id="g8" class="white"></td>
        <td id="h8" class="black"></td>
    </tr>
    <tr>
        <td id="a7" class="black"></td>
        <td id="b7" class="white"></td>
        <td id="c7" class="black"></td>
        <td id="d7" class="white"></td>
        <td id="e7" class="black"></td>
        <td id="f7" class="white"></td>
        <td id="g7" class="black"></td>
        <td id="h7" class="white"></td>
    </tr>
    <tr>
        <td id="a6" class="white"></td>
        <td id="b6" class="black"></td>
        <td id="c6" class="white"></td>
        <td id="d6" class="black"></td>
        <td id="e6" class="white"></td>
        <td id="f6" class="black"></td>
        <td id="g6" class="white"></td>
        <td id="h6" class="black"></td>
    </tr>
    <tr>
        <td id="a5" class="black"></td>
        <td id="b5" class="white"></td>
        <td id="c5" class="black"></td>
        <td id="d5" class="white"></td>
        <td id="e5" class="black"></td>
        <td id="f5" class="white"></td>
        <td id="g5" class="black"></td>
        <td id="h5" class="white"></td>
    </tr>
    <tr>
        <td id="a4" class="white"></td>
        <td id="b4" class="black"></td>
        <td id="c4" class="white"></td>
        <td id="d4" class="black"></td>
        <td id="e4" class="white"></td>
        <td id="f4" class="black"></td>
        <td id="g4" class="white"></td>
        <td id="h4" class="black"></td>
    </tr>
    <tr>
        <td id="a3" class="black"></td>
        <td id="b3" class="white"></td>
        <td id="c3" class="black"></td>
        <td id="d3" class="white"></td>
        <td id="e3" class="black"></td>
        <td id="f3" class="white"></td>
        <td id="g3" class="black"></td>
        <td id="h3" class="white"></td>
    </tr>
    <tr>
        <td id="a2" class="white"></td>
        <td id="b2" class="black"></td>
        <td id="c2" class="white"></td>
        <td id="d2" class="black"></td>
        <td id="e2" class="white"></td>
        <td id="f2" class="black"></td>
        <td id="g2" class="white"></td>
        <td id="h2" class="black"></td>
    </tr>
    <tr>
        <td id="a1" class="black"></td>
        <td id="b1" class="white"></td>
        <td id="c1" class="black"></td>
        <td id="d1" class="white"></td>
        <td id="e1" class="black"></td>
        <td id="f1" class="white"></td>
        <td id="g1" class="black"></td>
        <td id="h1" class="white"></td>
    </tr>
</table>
<div id="summary">
<pre>{{ summary }}</pre>
<cite>Playing against {{ opponent }}</cite>
<a href="#" id="stats_toggle">Toggle stats</a>
</div>
<div id="stats">

Material advantage:
<div class="stat">
{% if stats.material_advantage %}
{{ stats.material_advantage|title }} has a material advantage of
{{ stats.material_difference }}p.
{% else %}
No material advantage.
{% endif %}
</div>

{% if stats.opening %}
You opened with:
<div class="stat"><b>{{ stats.opening.code }}</b> {{ stats.opening.name }}</div>
{% else %}
No ECO opening has been played.
{% endif %}

{% if stats.possible_openings %}
Possible openings from here:
<ol>
{% for o in stats.possible_openings %}
<li><b>{{ o.code }}</b> {{ o.name }}: {{ o.next_move }}</li>
{% endfor %}
</ol>

{% endif %}
</div>
<div id="popup">
    <div id="alert">
        <div id="alert_text">
            Send <span id="alert_move"></span>?
        </div>
        <button class="confirm">Send</button>
        <button class="cancel">Cancel</button>
    </div>
</div>
{% endblock %}
