{% extends "base.html" %}
{% block body %}
<h2 class="top">Simple online chess with your friends.</h2>
<p>
Getting started is as easy as putting in you and your friend's email addresses
below. We send both of you unique game links; no logging in required.
</p>
<form action="/start" method="POST">
    <label for="white_email">White's email address:</label>
    <input type="text" name="white_email">
    <label for="black_email">Black's email address:</label>
    <input type="text" name="black_email">
    <cite>
    TOKD won't use these email addresses for anything other than announcing
    chess moves.
    </cite>
    <input type="submit" value="Start game">
</form>
{% endblock %}
