{% extends "base.html" %}
{% block head %}
<style>
#login {
    border: 1em solid #DDD;
    padding: 1em;
}

#pieces {
    margin-top: 2em;
    text-align: center;
    opacity: 0.2;
}
#pieces img {
    width: 5%;
}
</style>
{% endblock %}
{% block body %}
<div id="login">
    <form action="/do_login" method="POST">
        <label for="user">Username</label>
        <input type="text" name="user">
        <label for="pass">Password</label>
        <input type="password" name="pass">
        <input type="submit" value="Log in">
    </form>
</div>
<div id="pieces">
    <img src="/static/bp.svg">
    <img src="/static/bR.svg">
    <img src="/static/bN.svg">
    <img src="/static/bB.svg">
    <img src="/static/bQ.svg">
    <img src="/static/bK.svg">
    <img src="/static/wK.svg">
    <img src="/static/wQ.svg">
    <img src="/static/wB.svg">
    <img src="/static/wN.svg">
    <img src="/static/wR.svg">
    <img src="/static/wp.svg">
</div>
{% endblock %}
